<div class="container p-8">
  <div class="mx-auto text-4xl font-bold">Zeiterfassung</div>
  <div class="mx-auto text-2xl flex flex-col">
    {{ time | date : "EEEE, dd. MMMM YYYY" }}
    <div class="mx-auto text-lg text-mono">
      {{ time | date : "HH:mm:ss" }}
    </div>
  </div>
  <div class="mx-auto flex flex-row gap-4">
    <button
      class="time time-start"
      type="button"
      aria-label="Kommen"
      (click)="start()"
    >
      <i class="pi pi-sign-in"></i>
    </button>
    <button
      class="time time-end"
      type="button"
      aria-label="Gehen"
      (click)="end()"
    >
      <i class="pi pi-sign-out"></i>
    </button>
  </div>
  <div class="flex flex-col">
    <div
      class="mx-auto flex flex-row gap-x-4 gap-y-1 text-2xl"
      *ngFor="let tr of (state$ | async)?.today?.timeRecords ?? []"
      (click)="showDialog(tr)"
    >
      <div class="digital text-center w-36">
        {{ tr.start | date : "HH:mm" }}
      </div>
      <div class="digital text-center w-36">{{ tr.end | date : "HH:mm" }}</div>
    </div>
  </div>

  <div class="flex flex-col flex-1 gap-2 mx-auto">
    <div class="mx-auto text-xl">Wochenkonto</div>
    <div class="mx-auto digital text-4xl">
      {{ (state$ | async)?.week?.totalDuration }}
    </div>
    <div class="mx-auto text-xl">Stundenkonto {{ currentMonth }}</div>
    <div class="mx-auto digital flex-1 text-4xl">
      {{ (state$ | async)?.current?.totalDuration }}
    </div>
  </div>

  <div class="mx-auto flex flex-row gap-4">
    <button class="btn" aria-label="previousMonth" type="button">
      {{ previousMonth }}
    </button>
    <button
      class="btn"
      aria-label="currentMonth"
      type="button"
      (click)="this.currentVisible = true"
    >
      {{ currentMonth }}
    </button>
  </div>
</div>

<p-dialog
  header="{{ tr?.start ?? tr?.end ?? '' | date : 'EEEE, dd. MMMM YYYY' }}"
  [(visible)]="visible"
  position="bottom"
  [style]="{
    width: '80vw',
    backgroundColor: 'white',
    padding: '1rem'
  }"
>
  <form
    class="mt-4 flex flex-col gap-3"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-row gap-2">
      <input class="flex-1 w-1/3 text-center" formControlName="start" />
      <input class="flex-1 w-1/3 text-center" formControlName="end" />
    </div>
    <div class="flex flex-row gap-2">
      <button
        class="mx-auto btn danger"
        aria-label="Löschen"
        (click)="deleteVisible = true"
      >
        Löschen
      </button>
      <button
        class="mx-auto btn"
        aria-label="Speichern"
        type="submit"
        [disabled]="form.invalid"
      >
        Speichern
      </button>
    </div>
  </form>
</p-dialog>

<p-dialog
  header="Löschen?"
  [(visible)]="deleteVisible"
  position="top"
  [style]="{
    width: '80vw',
    backgroundColor: 'white',
    padding: '1rem'
  }"
>
  <div class="flex flex-row gap-2">
    <button class="mx-auto btn danger" aria-label="Ja" (click)="onDelete()">
      Ja
    </button>
    <button class="mx-auto btn" aria-label="Nein" (click)="onDeleteCancel()">
      Nein
    </button>
  </div>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="currentVisible"
  position="bottom"
  [style]="{
    width: '80vw',
    backgroundColor: 'white',
    padding: '1rem'
  }"
>
  <p-table [value]="(state$ | async)?.current?.timeRecords ?? []">
    <ng-template pTemplate="header">
      <tr>
        <th>Datum</th>
        <th>Kommen</th>
        <th>Gehen</th>
        <th>Arbeitszeit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tr>
      <tr (click)="showDialog(tr)">
        <td class="text-center">{{ tr.start | date : "dd.MM" }}</td>
        <td class="text-center">{{ tr.start | date : "HH:mm" }}</td>
        <td class="text-center">{{ tr.end | date : "HH:mm" }}</td>
        <td class="text-center">{{ tr.duration }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
